<!DOCTYPE html>
<html lang="ja">
    @include('_includes/head')

    <body class="antialiased hold_transition sidebar-mini layout-fixed">
        @!section('content')

        <div id="other"></div>
        @include('_includes/javascript')
    </body>
</html>