<head>
    <meta charset="utf-8">
    <meta name="view-port" content="width=device-width, initial-scale=1">
    <meta id="csrftoken" name="csrf-token" content="{{csrfToken}}">

    <title>{{app_name}}</title>

    @include('_includes/stylesheet')
</head>